{{ define "main" }}
  <main>
    <section>
      <div class="collage">
        <div class="collage-overlay">
          <div class="collage-overlay-text">
            <h1>Welcome to {{ .Site.Title }}!</h1>
            <p><strong>{{ .Site.Params.Description }}</strong></p>
          </div>
        </div>
        {{ range .Site.Params.Carousel }}
          <img src="{{ . | relURL }} " alt="collage image" />
        {{ end }}
      </div>
    </section>
    <section>
      <h2>{{ .Site.Params.Products_title }}</h2>
      {{ partial "category-selector" . }}
      <div class="container">
        <div class="products">
          {{ range .Site.Data.products }}
            {{ partial "product.html" . }}
          {{ end }}
        </div>
      </div>
      <div
        hidden
        id="snipcart"
        data-api-key="{{ .Site.Params.Snipcart_key }}"
        data-config-add-product-behavior="none"
      ></div>
    </section>
  </main>
{{ end }}
