<div class="product">
  <img class="product__image" src="{{ .image }}" alt="" />
  <div class="card-content">
    <div class="product__titlebar">
      <h3 class="product__name">{{ .name }}</h3>
      <div class="product__price"><strong>${{ .price }}</strong></div>
    </div>
    <p class="product__description">{{ .description }}</p>
    <div class="product__button-container">
      <a
        class="snipcart-add-item buy-button"
        data-item-id="{{ .name | urlize }}"
        data-item-name="{{ .name }}"
        data-item-price="{{ .price | lang.NumFmt 2 }}"
        data-item-url="/"
        data-item-image="{{ .image }}"
        data-item-description="{{ .description }}"
      >
        Add to cart
      </a>
    </div>
  </div>
</div>
