{{ define "main" }}
  <main>
    {{ partial "collage.html" . }}
    <section>
      <h2>{{ .Site.Params.Products_title }}</h2>
      {{ partial "category-selector" . }}
      <div class="container">
        <div class="products flex-grid">
          {{ range .Sections }}
            {{ if eq .Name "Products" }}
              {{ range .Pages.ByDate }}
                {{ partial "product.html" .Params }}
              {{ end }}
            {{end}}
          {{end}}
        </div>
      </div>
      {{ partial "snipcart.html" . }}
    </section>
    <section>
      <h2>{{ .Site.Params.Reviews_title }}</h2>
      <div class="container">
        <div class="reviews flex-grid">
          {{ range .Pages }}
            {{.}}
            {{end}}
          {{ range .Sections }}
            {{ if eq .Name "Reviews" }}
              {{ range .Pages }}
                {{ partial "review.html" .Params }}
              {{ end }}
            {{end}}
          {{end}}
        </div>
      </div>
    </section>
  </main>
{{ end }}
