@import 'include-media';

$breakpoints: (
  phone: 450px,
  tablet: 768px,
  desktop: 1024px,
);

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Trueno Bold';
}

strong,
b,
a {
  font-family: 'Trueno SemiBold';
}

p {
  font-family: 'Trueno Regular';
}

a {
  text-decoration: none;
  &:hover {
    color: pink;
  }
}
